.save-action {
  margin-bottom: 102px;
}

.save-action__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 21px;
}

.save-action-icon {
  width: 21px;
}

@media (width <= 375px) {
  .save-action__button {
    flex-direction: column;
  }

  .save-action-icon {
    width: 28px;
  }
}