.button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: var(--section-bg-color, #ffffff);
  border: 2px var(--border-color, #000000) solid;
}

.button__icon {
  cursor: pointer;
  background: transparent;
  border: 0;
}

.button__icon:focus {
  outline: none;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font-family), 'monospace';
  line-height: 90%;
  color: var(--special-button-color, #fff);
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}


.button:focus-visible {
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 0 var(--border-color, #000000);
}


.button::after {
  mix-blend-mode: difference;
  content: "";
  position: absolute;
  background-color: var(--special-button-color, #fff);
  width: 110%;
  height: 110%;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}


.button:hover::after {
  transform: translateY(-50%) scaleX(1);
}
