.footer {
  margin-top: 50px;
  width: 100%;
}
.footer__button {
  margin: 0 auto;
  background-color: var(--section-bg-color, #ffffff);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 21px;
}

.footer__button-icon {
  width: 21px;
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
  }
}