/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 0 auto;

  padding-top: 100px;
  font-size: 18px;
  border-image-repeat: repeat;
  background-image: repeating-linear-gradient(to left, var(--page-bg-line-color, #d3d3d3) 2px, transparent 4px),
  repeating-linear-gradient(to bottom, var(--page-bg-line-color, #d3d3d3) 2px, transparent 4px),
  linear-gradient(to bottom,
          var(--page-bg-gradient-start-color, #e7e7e7) 0%,
          var(--page-bg-gradient-start-color, #e7e7e7) 0.01%,
          var(--page-bg-gradient-end-color, #1a1a1a) 100%);

  color: var(--main-color, #000000);
}

@media (width <= 375px) {
  .page {
    max-inline-size: 100%;
  }
}